{% extends 'base/base_hero.html' %}

{% block title %}
    {{ block.super }} | About
{% endblock title %}

{% block content %}
<h1 class="title">
    Made with
    <i class="fab fa-html5"></i>,
    <i class="fab fa-css3-alt"></i> and
    <i class="fab fa-python" data-fa-transform="shrink-2" data-fa-mask="fas fa-square"></i>
</h1>
<h2 class="subtitle">Created by Sherzodbek Esanov</h2>
<p>
    Contact:&nbsp;
    <a href="https://github.com/Sherkhan7/" target="_blank"><i class="fab fa-github"></i></a>&nbsp;
    <a href="https://gitlab.com/Sherkhan7/" target="_blank"><i class="fab fa-gitlab"></i></a>&nbsp;
</p>
{% endblock content %}
